section{
    border: 5px solid black;
    border-radius: 5%;
    padding: 40px;
    background-color: white;
    margin: 28px 0px;
}

.container {
    display: flex;
}

.group-input-btn{
    flex: 1;
    padding: 20px;
    padding-right: 50px;
    border:2px solid black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}

.group-input-result{
    flex: 1;
    margin-left: 50px;
}

.group-input-result label{ 
    display: block; 
    width: 200%; 
    margin-left: 10px;
}

input, select {
    width:100%;
    padding: 10px;
    margin:5px;
    border:2px solid black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
    display:block;
}

button{
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:disabled{
    background-color: gray;
}

@media screen and (max-width: 1700px) {
    .container{
        display: block;
    }

    .group-input-result{
        margin-left: 0px;
        margin-top: 20px;
    }

    .group-input-result input{
        width: 85%;
    }
}