.home-container{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/home-background.png");
    background-size: cover;
}

body{
    overflow-x: hidden;
}