.header {
    display: flex;
    justify-content: left;
    padding: 20px;
    background: rgb(227,227,227);
    background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(131,131,131,1) 35%, rgba(38,38,38,1) 100%);
}


.logo {
 
    height: 80px;
}

.logo>img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.links{
   width: 100%;
   position:absolute;
   right: 0;
   text-align: right;
   top: 5%;
}

.links a{
   display: inline-block;
   font-size: 20px;
   color: White;
   text-align: center;      
   margin-right: 20px;
   text-decoration: none;
}

@media screen and (max-width: 1700px) {
    .header {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .logo {
       
        height: 199px;
    }

    .links{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        position: initial;
        right: initial;
        top: initial;
    }

    .links a{
        margin-top: 5px;
    }
}